tr
    td(bgcolor="#58A62B" style="padding: 30px 30px 30px 30px;")
        table(border="0" cellpadding="0" cellspacing="0" width="100%")
            tr
                td(style="color: white;" width="75%")
                    | © 2018. All Rights Reserved.
                    br
                    | #[a(style="color: white;" href='mailto:info@sunshinebouquet.com' ) info@sunshinebouquet.com] |   1 800 652 5066 
                td(align="right")
                    table(border="0" cellpadding="0" cellspacing="0")
                        tr
                            td
                                a(href="http://www.twitter.com/")
                                    img(src="images/tw.gif" alt="Twitter" width="38" height="38" style="display: block;" border="0")
                            td(style="font-size: 0; line-height: 0;" width="20")  
                            td
                                a(href="http://www.twitter.com/")
                                    img(src="images/fb.gif" alt="Facebook" width="38" height="38" style="display: block;" border="0")
